# Dependencies
node_modules/

# Build output
dist/
dist-ssr/

# Env files — JANGAN PERNAH commit ini, isinya API key (penting buat nanti Supabase)
.env
.env.local
.env.*.local

# Editor / OS
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
Thumbs.db

# Logs
npm-debug.log*
pnpm-debug.log*
rapikasir-src-update-2.zip:Zone.Identifier
rapikasir-src-update-2.zipZone.Identifier
rapikasir-src-update-3 (1).zip:Zone.Identifier
rapikasir-src-update-3 (1).zipZone.Identifier
rapikasir-src-update-4.zip:Zone.Identifier
rapikasir-src-update-4.zipZone.Identifier
